<html lang="zh-CN">
<head>
    <base href="../">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/404Page.css">
    <title>错误</title>
</head>
<body>
    <a href="../">&lt;返回</a>
    <div>
        <h1>404-ERROR</h1>
        <div class="errbox">
            {%for err in errs%}
            <h2>
                {{err}}
            </h2>
            {%endfor%}
        </div>
    </div>
</body>
</html>